body {
    font-size: 14px;
    line-height: 1.5;
}

header .navbar {
    border-radius: 0;
    margin: 0;
}

.hero {
    background-image: url(../img/universe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    min-height: 600px;
    position: relative;
}

.hero-content {
    position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
}

.hero-content h2 {
    color: white;
    font-size: 80px;
}

.hero-content p {
    color: aliceblue;
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-content .btn {
    border-radius: 2px;
    padding: 20px 30px;
}

main {
    min-height: 500px;
    padding: 50px 0;
}

.home_body {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    min-height: 600px;
    position: relative;

    font-family: "sans-serif";
    font-size: medium;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.contact_page {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    min-height: 600px;
    position: relative;

    font-family: "Yu Gothic Medium";
    font-size: medium;
    background-blend-mode: overlay;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

footer {
    padding: 30px 0;
    font-size: 12px;
    color: darkkhaki;
    background: #222;
    text-align: center;
}